.rev-container {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 50px;
}

.rev-container form {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rev-container .btn-1 {
  margin-top: 20px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.rev-container .btn-1 :hover {
  color: #FF67CB !important;
}

.rev-container .reviews-head {
  text-align: center;
  margin-bottom: 20px;
}

.review-btn {
  position: absolute;
  color: white;
  background: black;
  height: 35px;
  width: 80px;
  bottom: 50px;
  right: 50px;
  border-radius: 5px;
}

.review {
  width: 50vw;
  height: 150px;
  resize: none;
}

.review-img-cont {
  height: 470px;
  width: 80vw;
}

.review-img-cont .rev-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 80vw;
  height: 75vh;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.rev-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px #6b6b6b solid;
  background: #f1f1f1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  width: 70vw;
}

.rev-cont input[type=text], .rev-cont [type=email] {
  border: black 1px solid;
}

.rev-cont select {
  height: 25px;
  width: 170px;
}

.rev-cont .add-images {
  font-weight: bold;
}

.rev-cont textarea {
  padding: 10px 20px;
}

.rev-cont li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3px;
}

span {
  color: white;
  cursor: pointer;
}

.fa-plus {
  margin-right: 10px;
  cursor: pointer;
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bod {
  height: 100vh;
}

.uphold {
  margin-right: 20px;
}

.peak-cont {
  position: relative;
}

.peak-cont .peak {
  position: absolute;
  margin-left: -20px;
  bottom: 5px;
}

.review-page-cont {
  padding: 4em 10vw;
}

.review-page-cont h1 {
  text-align: center;
  margin-bottom: 10px;
}

.review-page-cont button {
  border-radius: 10px;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 15px;
  width: 120px;
  height: 50px;
  margin-bottom: 30px;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.review-page-cont .reviews-head {
  text-align: center;
  margin-bottom: 50px;
}

.review-page-cont ul {
  margin-bottom: 20px;
  background-color: #F8F8F8;
  padding: 20px;
  border: black 2px solid;
  border-radius: 10px;
}

.rev-page {
  background-color: #F8F2F9;
}

.review-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  max-height: 100px;
}
/*# sourceMappingURL=ReviewScreen.css.map */