.go {
  height: 89.5vh !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/Background-photo/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/Background-photo/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.go .set-appointment {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.go .set-appointment h1 {
  color: white;
  margin-bottom: 20px;
}

.go .set-appointment button {
  color: black;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
}

.go .set-appointment button .arrow-right {
  margin-bottom: -3px;
  margin-left: 10px;
}

.go .set-appointment .button-go {
  -webkit-transform: translateX(-20);
          transform: translateX(-20);
  -webkit-animation: float 2.5s infinite;
          animation: float 2.5s infinite;
  -webkit-animation-name: go;
          animation-name: go;
}

@-webkit-keyframes go {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes go {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

.go .set-appointment .button-go :hover {
  border-radius: 5px;
  color: black;
  background-color: #AACDE0;
  -webkit-transition: color .5s, background-color .5s, border-radius .5s;
  transition: color .5s, background-color .5s, border-radius .5s;
}

.app {
  height: 89.5vh !important;
}

.form-cont {
  height: 90vh;
  margin: 0em 10vw;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-cont .head-info {
  text-align: center;
}

.form-cont .ul {
  padding: 20px;
}

.form-cont .form {
  background: #cfe3fc;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em 10px 6px 10px;
  max-width: 700px;
  width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}

.form-cont .form li {
  margin-bottom: 20px;
}

.form-cont .form .org-name {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
}

.form-cont .form .org-name .left-side {
  margin-bottom: 20px;
}

.form-cont .form li:last-of-type {
  margin-bottom: 60px;
}

.form-cont .form label {
  font-size: 20px;
  font-weight: bold;
}

.form-cont .form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background: black;
  height: 35px;
  width: 100px;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
}

.form-cont .form .next-btn:hover {
  font-weight: bold;
  width: 101px;
  height: 36px;
  -webkit-transition: width .4s, height .4s;
  transition: width .4s, height .4s;
}

.form-cont .form .prev-btn {
  margin-right: 120px;
  background: none;
  border-radius: 0px;
  border-bottom: 3px solid white;
  color: black;
  font-weight: bold;
}

.form-cont .form .prev-btn:hover {
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  width: 101px;
  height: 36px;
  -webkit-transition: width .4s, height .4s, background-color .5s;
  transition: width .4s, height .4s, background-color .5s;
}

.upholstery .uphold {
  margin-bottom: 20px;
}

.upholstery .uphold div {
  margin-bottom: 10px;
}

.upholstery .description textarea {
  resize: none;
  height: 170px;
  width: 200px;
}

@media screen and (max-width: 510px) {
  .upholstery .uphold {
    border-bottom: 1px #222222 solid !important;
  }
}
/*# sourceMappingURL=UseForm.css.map */