/*UseForm*/
.form-cont {
  margin: 0 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.form-cont .head-info {
  text-align: center;
  background: #f8f8f8;
  font-size: smaller;
  margin-bottom: 10px;
}

.form-cont .ul {
  padding: 20px;
}

.form-cont .form {
  margin: 90px 0 20px 0;
  background: #f8f8f8;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 10px 0 10px;
  max-width: 700px;
  width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-cont .form .head-hr {
  width: 50%;
  margin: 0 auto;
  min-width: 250px;
  border-bottom: 2px solid #FF67CB;
}

.form-cont .form li {
  margin-bottom: 20px;
}

.form-cont .form hr {
  border: none;
  border-bottom: 2px #FF67CB solid;
  margin-bottom: 10px;
  border-radius: 200px;
}

.form-cont .form .left-side {
  margin-bottom: 20px;
}

.form-cont .form label {
  font-size: 20px;
  font-weight: bold;
}

.form-cont .form .button-ul {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
  margin-bottom: 5px;
}

.form-cont .form .button-ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.form-cont .form .button-ul li button {
  height: 100%;
  background: #FF67CB;
  color: white;
  font-size: 20PX;
  opacity: .8;
}

.form-cont .form .button-ul li button:hover {
  font-weight: bold;
  border: 3px solid #FF67CB;
  -webkit-transition: font-weight .2s, opacity .2s, border .2s;
  transition: font-weight .2s, opacity .2s, border .2s;
  opacity: 1;
}

.form-cont .form .button-ul li .prev-btn {
  background: white;
  color: black;
}

.upholstery span {
  color: black;
}

.upholstery .fa-plus {
  color: #FF67CB;
}

.upholstery .fa-minus {
  color: #FF67CB;
}

.upholstery .uphold {
  margin-bottom: 20px;
}

.upholstery .uphold div {
  margin-bottom: 10px;
}

.upholstery .description textarea {
  height: 170px;
  width: 200px;
  max-height: 170px;
  min-height: 170px;
  min-width: 200px;
  max-width: 100%;
}

@media screen and (max-width: 510px) {
  .upholstery .uphold {
    border-bottom: 1px #222222 solid !important;
  }
}

.address li {
  margin-bottom: 20px;
}

.address .address-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address .address-sep .city {
  margin-right: 100px;
  margin-bottom: 20px;
}

.address input::-webkit-outer-spin-button,
.address input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.address input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
/*# sourceMappingURL=UseForm.css.map */