.customer{
    display: none;
}
.delete-cont{
    width: 30px !important;
    cursor: pointer;
}
.customer-cont{
    height: 100%;
    padding: 35px 10vw ;
    position: relative;


    .button{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        gap: 20px;

        :nth-child(1){
            button{
                font-size: 20px;
                color: #FF67CB;
                background-color: white;
                border: 3px #FF67CB solid;
                transition: background-color .2s, color .2s;
            }
            button:hover{
                background-color: #FF67CB;
                color: white;
            }
        }

        li{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;

            button{
                font-size: 20px;
                width: 100%;
                background-color: #FF67CB;
                color: white;
                position: relative;
                opacity: .8;
                transition: opacity .2s;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
    ul{
        margin-bottom: 20px;
        hr{
            border: none;
            border-top: #fda9e0 2px solid;
        }
        li{
            display: flex;
            margin-right: 20px;

            h1{
                color: black;
            }

            div{
                display: flex;
                flex-direction: column;
                color: rgb(29, 29, 29);
                h2{
                    font-size: 21px;
                }
            }            
        }

    }

    .date{
        margin-top: 50px;
        justify-content: center;
        display: flex;
        h2{
            margin: 7px auto auto 10px;
            color: rgb(61, 61, 61);
            text-decoration: underline;
        }

    }
    .address-info{
        margin-bottom: 30px;
    }
    .description{
        margin-bottom: 50px;
        p{
            display: flex;
            flex-wrap: wrap;
        }
    }


}
