/*Hero*/
.hero{
    margin-top: 80px;
    height: 75vh !important;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../images/Background-photo/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .hero-left{
        margin: auto 0;
        hr{
            margin: 40px 20% ;
            border: none;
            border-top: 2px solid white;
            border-radius: 10px;
        }
        ul{          
            li{
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;

                .hero-head{
                    text-align: center;
                    width: 40vw;
                    h6{
                        font-size: 30px;
                        text-transform: uppercase;
                        color: white;
                        text-shadow: 2px 2px 8px rgb(70, 70, 70);
                    }
                }
                a{
                    :hover{
                        background-color: #AACDE0 ;
                        color: white;
                        border-radius: 5px;
                        transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
                    }
                }
                button{
                    border: #AACDE0 4px solid;
                    background-color: white;
                    font-size: 16px;
                    width: 130px;
                    height: 35px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    color: black;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        }
    }
    .hero-right{
        margin: auto 0;
        display: none;
        justify-content: flex-end;
        align-items: flex-end;
        img{
            width: 90%;
            border-radius: 2em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .pointer-icon{
        position: absolute;
        bottom: 0;
        overflow: hidden;
        transform: translateY(0px);
        animation: float 2s ease-in-out infinite;
        margin-left: -20px;
        left: 50%;
        transform: translateX(-50%);
        img{
            width: 40px;
        }
        @keyframes float{
            0%{
                transform: translateY(0px);
            }
            50%{
                transform: translateY(-30px);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }
}



/*INFO-PAGE*/
.info-page{
    position: relative;
    background: #F5F5F5;
    padding: 100px 10px 190px 10px;

    .info-page-header{
        font-size: 1.2em;
        text-align: center;
        color: #FF67CB;
        text-shadow: 2px 2px 8px rgb(124, 124, 124);
    }
    .info-cont-ul{
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        li{
            max-width: 350px;
            #tile-1{
                height: 564px;
            }
            #tile-2{
                height: 610px;
            }
            #tile-3{
                height: 564px;
            }
            .tile-cont{
                margin-top: 60px;
                padding-bottom: 10px;
                background: white;
                display: flex;
                flex-direction: column;
                box-shadow: 0 4px 8px 1px rgba(196, 196, 196, 0.2), 0 6px 20px 0 rgba(196, 196, 196, 0.2);
                border-radius: 3px;
                ul{
                    position: relative;
                    height: 100%;
                    li:not(:nth-child(1)){
                        padding: 5px 10%;
                    }
                    li:nth-child(1){
                        .tile-img{
                            height: 233px;
                            img{
                                width: 100%;
                                object-fit: cover;
                                height: 100%;
                                border-top-left-radius: 3px;
                                border-top-right-radius: 3px;
                            }
                        }   
                        .img-title{
                            text-align: center;
                            width: 100%;
                            font-size: 40px;
                            font-weight: bold;
                            text-align: center;
                            line-height: 45px;
                        }
                    }
                    li:nth-child(2){
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        h5{
                            font-weight: normal;
                            font-size: 17px;
                        }
                        .pink{
                            border: none;
                            border-top: 2px solid #FF67CB;
                            width: 15%;
                        }
                        .based-on-cont{
                            ul{
                                li{
                                    display: flex;
                                    gap: 20px;
                                    .based-on{
                                        border: dashed 1px black;
                                        padding: 0 10px;
                                        font-size: 14px;
                                    }
                                }
                            }
                            margin-bottom: 10px;
                        }
                    }
                    li:nth-child(3){
                        hr{
                            border: none;
                            border-top: 3px solid #656565;   
                            border-radius: 2px; 
                        }
                    }
                    li:nth-child(4){
                        font-size: 80%;
                    }
                    li:nth-child(5){
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        bottom: 0;
                        width: 100%;
                        :nth-child(2){
                            button{
                            background: #FF67CB;
                            color: white;
                            opacity: .8;
                                a{
                                    color: white;
                                }
                            }
                            button:hover{
                                opacity: 1;
                            }
                        }
                        div{
                            width: 100%;
                            button{
                                height: 36px;
                                background: white;
                                border: 1px solid #FF67CB;
                                color: #FF67CB;
                                font-weight: normal;
                                width: 100%;
                            }
                            button:hover{
                                color: white;
                                background-color: #FF67CB;
                            }

                        }
                    }



                }

            }
        }
    }
}



/*ABOUT US*/

.about-us{
    background: #2F2D2D;
    .about-us-h{
       color: white; 
       text-align: center;
       margin: -30px auto 100px;
    }
    p{
        color: white;
        line-height: 2;
        margin-bottom: 20px;
    }
}


// Review cont
.rev-container{
    background-color: #f5f5f5;
    display: block;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    form{
        margin: 100px 20px 170px 20px;
        text-align: center;
        width: 800px;
        hr{
            width: 10%;
        }
        h1{
            margin-bottom: 50px;
        }
        .rev-cont{
            background-color: white;
            padding: 25px 30px;
            height: 500px;

            .loading{
                height: 100%;
            }
            hr{
                position: relative;
                width: 50%;
                border: none;
                border-top: 2px solid #FF67CB;
            }
            .transform-right{
                transform: translateX(100%);
            }
            .left-rev{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
                .review-stars-cont{
                    height: 20%;
                    .input{
                        font-size: 25px;
                        text-align: center;
                        margin-bottom: 10px;

                        hr{
                            width: 190px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-top: black 2px solid;
                        }
                    }
                }
                .review-rev-cont{
                    .input{
                        label{
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                    li{
                        position: relative;
                        textarea{
                            height: 220px;
                            max-width: 100%;
                            outline: none;
                            border: none;
                            background: #f5f5f5;
                            padding: 5px 10px;
                            margin-bottom: 10px;
                        }                        
                    }

                    .review{
                        width: 100%;
                        height: 150px;
                        resize: none;
                    }
                    button{
                        width: 100%;
                        height: 50px;
                        font-size: 20px;
                        font-weight: bold;
                        color: white;
                        background: #FF67CB;
                        opacity: .8;
                    }
                    button:hover{
                        opacity: 1;
                    }
                    margin-bottom: 10px;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }
            }
            .right-rev{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
                width: 100%;
                li{
                    position: relative;
                    .add-images{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    hr{
                        border-top: black solid 2px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 110px;
                    }
                }

                .input{
                    text-align: left;
                    input{
                        width: 100%;
                        background: none;
                    }
                    select{
                        width: 100%;
                    }
                }
                .image-container{
                    display: flex;
                    justify-content: space-around;
                    .image-list-cont{
                        width: 20%;
                        min-width: 110px;
                        ul{
                            li{
                                height: 100%;
                                display: grid;
                                grid-template-columns: 40% 3px 40%;
                                gap: 7px;
                                label{
                                    height: 100%;
                                    width: 100%;
                                    .plus{
                                        width: 100%;
                                        height: 100%;
                                        border: 1px solid black;
                                        border-radius: 2px;
                                    }
                                }
                                div{
                                    background-color: black;
                                    height: 70%;
                                    align-items: center;
                                    border-radius: 2px;
                                    position: relative;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                img{
                                    background-color: #f1f1f1;
                                    width: 100%;
                                    min-height: 100%;
                                    max-height: 100%;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
                ul{
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    margin-bottom: 10px;
                    li{
                        width: 100%;
                        button{
                            width: 100%;
                            height: 100%;
                            font-size: 20px;
                            font-weight: bold;
                            color: white;
                            background: #FF67CB;
                            opacity: .8;
                        }
                        button:hover{
                            opacity: 1;
                        }
                        .prev-btn{
                            background-color: white;
                            border: 2px solid #FF67CB;
                            color: #FF67CB;
                        }
                        .prev-btn:hover{
                            background-color: #FF67CB;
                            color: white;
                        }
                        button, .prev-btn{
                            transition: color .2s, background-color .2s, opacity .2s;
                        }
                    }
                }
            }
        }
    }
}


//footer-cont
.footer-cont{
    .header{
        text-align: center;
        margin-top: 2rem;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        height: 200px;
        align-items: center;
        padding: 40px 3em;
        
        .left-foot{
            margin-top: -10px;
            .copyright-tag{
                font-weight: bold;
            }
            .contact{
                ul{
                    display: flex;
                    flex-wrap: wrap;            
                    li{
                        margin-right: 20px;
                        margin-bottom: 10px;
                        font-size: 15px;
                        span{
                            color: black;
                        }
                    }
                }
            }
        }

        .right-foot{
            margin-top: -10px;
            ul{
                display: flex;
                li{
                    margin-left: 20px;
                    width: 100%;
                    cursor: pointer;
                    .txt{
                        color: black;
                    }      
                    img{
                        width: 80%;
                        max-width: 30px;
                    }
                }
            }
        }
    }  
}
