.hero {
  height: 89.5vh !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/Background-photo/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/Background-photo/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10%;
  position: relative;
}

.hero .hero-left {
  margin: auto 0;
}

.hero .hero-left ul li .hero-head h6 {
  color: white;
  text-shadow: 2px 2px 8px #464646;
}

.hero .hero-left ul li a :hover {
  border: #AACDE0 5px solid;
  background-color: white;
  color: #4A4A4A;
  border-radius: 5px;
  -webkit-transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
  transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

.hero .hero-left ul li button {
  background-color: #AACDE0;
  font-size: 20px;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.hero .hero-right {
  margin: auto 0;
}

.hero .hero-right img {
  width: 90%;
  border-radius: 2em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero .pointer-icon {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
  margin-left: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero .pointer-icon img {
  width: 40px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*INFO-PAGE*/
.info-page {
  background-color: #AACDE0;
  min-height: 180vh;
  position: relative;
}

.info-page .info-page-header {
  font-size: 1.2em;
  text-align: center;
  color: #FF67CB;
  text-shadow: 2px 2px 8px #7c7c7c;
}

.info-page ul li {
  margin-top: 50px;
}

.info-page ul li .tile-cont {
  position: relative;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-page ul li .tile-cont .tile-img {
  width: 50%;
  position: relative;
  text-align: center;
}

.info-page ul li .tile-cont .tile-img img {
  width: 80%;
  height: 24vw;
  border-radius: 2em;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-page ul li .tile-cont .img-title {
  position: absolute;
  font-size: 2em;
  color: white;
  font-weight: bold;
  width: 50%;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 2px 2px 8px #464646;
}

.info-page ul li .tile-cont .img-title span {
  font-weight: normal;
  font-size: 20px;
}

.info-page ul li .tile-cont .tile-info {
  text-shadow: 2px 2px 8px #b9b9b9;
  padding: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 50%;
  margin: auto auto;
}

.info-page ul li .tile-cont #tile-info2 {
  color: black;
}

/*ABOUT US*/
.about-us {
  background: #2F2D2D;
}

.about-us .about-us-h {
  color: white;
  text-align: center;
  margin: -30px auto 100px;
}

.about-us p {
  color: white;
  line-height: 2;
  margin-bottom: 20px;
}

/*FOOTER*/
.footer-cont .header {
  text-align: center;
  margin-top: 2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 3em;
}

.footer .left-foot {
  margin-top: -10px;
}

.footer .left-foot .copyright-tag {
  margin-bottom: 5px;
  font-weight: bold;
}

.footer .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .contact ul li {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer .contact ul li span {
  color: black;
}

.footer .right-foot {
  margin-top: -10px;
}

.footer .right-foot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .right-foot ul li {
  margin-left: 20px;
  width: 100%;
  cursor: pointer;
}

.footer .right-foot ul li .txt {
  color: black;
}

.footer .right-foot ul li img {
  width: 80%;
  max-width: 30px;
}
/*# sourceMappingURL=HomeScreen.css.map */