html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;    
    .cont-spacing{
        padding: 5em 5em;
    }
   .margin-container{
    padding: 0 6em;
    } 
    img{
        width: 300px;
    }
}
.alert{
    display: flex;    
    width: 220px;
    height: 50px;
    background: #5794da;
    color: white;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    //position
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-name: slidein;
    animation-duration: .4s;
    animation-iteration-count: 1;
    @keyframes slidein {
        from{
            bottom: -25px;
        }
        to{
            bottom: 20px;
        }
    }
}
.fabric-alert{
    display: flex;
    position: absolute;
    width: 300px;
    color: white;
    height: 50px;
    background: #5794da;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    animation-duration: 5s;
    animation-name: fabricAlert;
    @keyframes fabricAlert {
        0%{
            top: -50px;
        }
        50%{
            top: 80px;
        }
        70%{
            top: 80px;
        }
        100%{
            top: -50px;
        }

    }

}
.times{
    margin-left: 10px;
    cursor: pointer;
    color: black;
}
select{
    overflow: hidden;
    color: black;

}
input{
    overflow: hidden;
    color: black;
    border: none;
    height: 25px;
    width: 200px;
    object-fit: contain;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}

.show{
    display: none;
}
li{
    list-style-type: none;
}
button{
    border: none;
    cursor: pointer;
}
.body-container{
    margin: 2em 5em;
}

// Nav
.nav{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    .logo{
        margin-left: 5%;
        margin-top: 5px;
        position: absolute;
        img{
            width: 170px;
        }
    }
    .right-nav ul{
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 10%;
        li{        
            margin-left: -10px;
            margin-right: -10px;
            margin-top: 30px;

            .btn-1{
                :hover{
                    color: black;
                    background: #AACDE0;
                    border: white solid 4px;
                    transition: color 0.2s, background-color 0.5s,;

                }   
            }
            .btn-2{
                color: black;
                :hover{
                    font-weight: bold;
                    font-size: 15px;
                    transition: font-weight 0.5s, font-size 0.5s;
                    color: black;
                }
            }
            
            .get-started-btn{
                border-radius: 10px;
                background-color: black;
                font-weight: bold;
                color: white; 

            }
            button{
                font-size: 15px;
                width: 120px;
                height: 50px;
                background: none;
                margin-top: -15px;
            }

        }  
    }
    .menu{
        display: none;
    }
    .menu-x{
        display: none;
    }
}

// Hero

.hero{
    height: 89.5vh !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/Background-photo/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 10%;
    .hero-left{
        margin: auto 0;
        ul{
            li{
                .hero-head{
                    h6{
                        color: white;
                        text-shadow: 2px 2px 8px rgb(70, 70, 70);
                    }
                }
                a{
                    :hover{
                        border: #AACDE0 5px solid;
                        background-color: white;
                        color: #4A4A4A;
                        border-radius: 5px;
                        transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
                    }
                }
                button{
                    background-color: #AACDE0;
                    font-size: 20px;
                    width: 170px;
                    height: 50px;
                    border-radius: 30px;
                    text-transform: capitalize;
                    color: white;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        }
    }
    .hero-right{
        margin: auto 0;
        img{
            width: 90%;
            border-radius: 2em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .pointer-icon{
        position: absolute;
        bottom: 0;
        overflow: hidden;
        transform: translateY(0px);
        animation: float 2s ease-in-out infinite;
        left: 48.5%;
        transform: translateX(-49%);
        img{
            width: 40px;
        }
        @keyframes float{
            0%{
                transform: translateY(0px);
            }
            50%{
                transform: translateY(-30px);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }
}
/*INFO-PAGE*/
.info-page{
    background-color: #AACDE0;
    min-height: 180vh;
    position: relative;

    .info-page-header{
        font-size: 1.2em;
        text-align: center;
        color: #FF67CB;
    }
    ul{
        li{
            margin-top: 50px;
            .tile-cont{
                position: relative;
                height: 50vh;
                display: flex;
                flex-direction: row;                
                .tile-img{
                    width: 50%;
                    position: relative;
                    text-align: center;
                    img{
                        width: 80%;
                        height: 24vw;
                        border-radius: 2em;
                        object-fit: cover;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                }

                .img-title{
                    position: absolute;
                    font-size: 2em;
                    color: white;
                    font-weight: bold;
                    width: 50%;
                    text-align: center;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    top: 50%;
                    transform: translateY(-50%);        

                    span{
                        font-weight: normal;
                        font-size: 20px;
                    }
                }
                .tile-info{
                    padding: 10px;
                    color: white;
                    font-size: 30px;
                    text-align: center;
                    width: 50%;
                    margin: auto auto;

                }
                #tile-info2{
                    color: black;
                }
            }
        }
    }
}

/*ABOUT US*/

.about-us{
    background: #2F2D2D;
    .about-us-h{
       color: white; 
       text-align: center;
       margin: -30px auto 100px;
    }
    p{
        color: white;
        line-height: 2;
        margin-bottom: 20px;
    }
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 40px 3em;
    
    .left-foot{
        margin-top: -10px;
        .copyright-tag{
            margin-bottom: 5px;
            font-weight: bold;
 
        }
    }
    .contact{
        ul{
            display: flex;
            flex-wrap: wrap;            
            li{
                margin-right: 20px;
                margin-bottom: 10px;
                font-size: 15px;
                span{
                    color: black;
                }
            }
        }
    }
    .right-foot{
        margin-top: -10px;
        ul{
            display: flex;
            li{
                margin-left: 20px;
                width: 100%;
                cursor: pointer;
                .txt{
                    color: black;
                }      
                img{
                    width: 80%;
                    max-width: 30px;
                }
            }
        }
    }
    
}



.address{
    
    li{
        margin-bottom: 20px;
    }
    .address-sep{
        display: flex;
        flex-wrap: wrap;
        .city{
            margin-right: 100px;
            margin-bottom: 20px;
        }
    }
    label{
        margin-bottom: 10px;
        font-weight: bold;
        color: white;
    } 
    input{
        height: 25px;
        width: 200px;
        margin-top: 3px;
        border-radius: 3px;
        border: #585858 1px solid;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
}    

/*media screen*/

@media screen and (max-width: 1024px) {
    .hero {
      .hero-head{
          h6{
            font-size: 2em;
          }
      }
    }
    .pointer-icon{
        left: 48.5% !important;
    }
  }
@media screen and (min-width: 1024px) {
    .hero {
        .hero-head{
            h6{
            font-size: 3em;
            }
        }
    }
}
@media screen and (min-width: 503px) and (max-width: 666px) {
    .tile-cont{
        img{
            height: 30vw !important;
            width: 50vw !important;
        }
    }
    .pointer-icon{
        left: 46.5% !important;
    }
}
@media screen and (max-width: 667px){

    .rev-cont{
        width: 90vw !important;
    }
    .text-area{
        height: 110px !important;
    }
    #tile-3{
        bottom: 80px !important;
        .img-title{
            font-size: 25px !important;
            span{
                font-size: 15px !important;
            }
        }

    }
    .right-nav{
        display: none;
    }
    .logo{
        margin-left: -80px !important;
    }
    .menu{
        cursor: pointer;
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 35px;
    }
    .menu-x{
        cursor: pointer;
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 30px;
    }
    .show-nav{
        width: 45vw;
        height: 100vh;
        background-color: #AACDE0;
        position: fixed !important;
        right: 0;
        z-index: 20;
        ul{
            margin-top: 100px;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            li{
                width: 100%;
                button{
                    font-size: 15px;
                    width: 120px;
                    height: 50px;
                    background: none;
                    color: white;
                    font-weight: bold;
                }
                .get-started-btn{
                    background-color: black;
                    border-radius: 5px;
                    width: 120px;
                    height: 40px;
                    margin-top: 35px;
                }
            }
        }
    }

    // Hero
    .hero{                
        height: 100vh;
        display: inherit;
        .hero-left{
            .hero-head{
                text-align: center;
                padding-top: 45%;
            }
            ul{
                padding: 0;
            }
            li{
                text-align: center;
            }
        }
        .hero-right{
            img{
                display: none;
            }        
        }
    }
    .cont-spacing{
        padding: 80px 20px;
    }
    // Info Page
    .info-page{
        padding: 20px;
        .info-page-container{
            ul{
                padding: 0;
            }
            .tile-cont{
                display: flex;
                flex-direction: column;
                width: 100%;
                .tile-img{
                    position: relative;
                    width: 100%;
                    img{
                        height: 50vw; 
                        width: 70vw;
                    }
                }
                .tile-info{
                    width: 100%;
                }
            }
            #tile-2{
                flex-direction: column-reverse;
            }

        }
    }
    //Footer
    .footer{
        padding: 20px;
        font-size: 15px;
        .contact{
            margin-top: -20px;
        }
        .left-foot{
            .copyright-tag{
                margin-bottom: 25px;
            }
            .contact{
                ul{
                    padding: 0;
                    li{
                        font-size: smaller;
                    }
                }
            }
        }
        .right-foot{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 0;
                margin-left: -35px;
                li{
                    flex: 50%;
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    .review-page-cont{
        ul{
            text-align: center !important;
        }
    }
}
@media screen and (max-width: 503px){
    .thanks{
        margin-top: -20px;
        font-size: 3.5vh !important;
    }

    .dtd-carpets{
        width: 200px !important;
        height: 100px !important;
    }
}

/*thank you*/

.dtd-carpets{
    position: absolute;
    width: 55vw;
    height: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    border: 10px solid #AACDE0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    h1{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        color: rgb(44, 44, 44);
        font-size: 2.5vw;
    }
    button{
        position: absolute;
        bottom: 1vw;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        height: 30px;
        border: 2px solid black;
        background-color: white;
        border-radius: 5px;
        color: black;
    }
}
/*Confirm*/
.confirm{
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    
    li{
        list-style-type: none;
        font-size: 20px;
        font-weight: bold;

        span{
            font-weight: lighter;
        }
    }
}
// Review Page

.rev-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    form{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .btn-1{
        margin-top: 20px;
        width: 100px;
        height: 35px;
        border-radius: 5px;
        background-color: black;
        color: white;

        :hover{
            color: #FF67CB !important ;
        }
    }
    .reviews-head{
        text-align: center;
        margin-bottom: 20px;
    }
    
}
.review-btn{
    position: absolute;
    color: white;
    background: black;
    height: 35px;
    width: 80px;
    bottom: 50px;
    right: 50px;
    border-radius: 5px;
}
.review{
    width: 50vw;
    height: 150px;
    resize: none;
}
.review-img-cont{
    height: 470px;
    width: 80vw;

    .rev-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 80vw;
        height: 75vh;
        object-fit: scale-down;
    }
}

.rev-cont{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px rgb(107, 107, 107) solid;
    background: rgb(241, 241, 241);
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 70vw;
    // padding: 10px 20px;
    input[type = text], [type = email]{
        border: black 1px solid;
    }
    select{
        height: 25px;
        width: 170px;
    }
    .add-images{
        font-weight: bold;
    }

    textarea{
        padding: 10px 20px;
    }
    li{
        display: flex;
        justify-content: center;
        margin-bottom: 3px;
    }
}
span{
    color: white;
    cursor: pointer;
}
.fa-plus{
    margin-right: 10px;
    cursor: pointer;
}
.up{
    display: flex;
    flex-wrap: wrap;
}
.bod{
    height: 100vh;
}
.uphold{
    margin-right: 20px;
}
.peak-cont{
    position: relative;

    .peak{
        position: absolute;
        margin-left: -20px;
        bottom: 5px;
    }
}

//Admin Page

.admin-page{
    padding: 6em 10vw ;
    .admin-head{
        text-align: center;
    }
    ul{
        cursor: pointer;
        margin-bottom: 20px;
        background-color: rgb(241, 241, 241);
        display: flex;
        flex-wrap: wrap;   
        border-radius: 10px;    
        border: 2px solid black; 
        li{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            padding: 20px 30px;

            div{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
            }
            p{
                text-transform: capitalize;
                margin-top: 7px;
                padding-left: 5px;
            }
            .desc{
                width: 200px;
                height: 200px;
                display: flex;
                flex-wrap: wrap;
                background-color: lightgreen;
            }
        }
    }
}
.customer{
    display: none;
}

.customer-cont{
    height: 100vh;
    padding: 6em 10vw ;
    button{
        border-radius: 10px;
        background-color: black;
        font-weight: bold;
        color: white; 
        font-size: 15px;
        width: 120px;
        height: 50px;
        margin-top: -15px;
        margin-right: 10px;
    }

    ul{
        margin-bottom: 20px;
        
        li{
            display: flex;
            margin-right: 20px;
            h1{
                color: black;
            }

            p{
                margin-top: 7px;
                padding-left: 5px;

            }
            div{
                display: flex;
                color: rgb(63, 63, 63);
            }            
        }

    }
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2{
            margin: 7px auto auto 10px;
            color: rgb(61, 61, 61);
            text-decoration: underline;
        }
    }
    .date{
        justify-content: center;
        display: flex;
        h2{
            margin: 7px auto auto 10px;
            color: rgb(61, 61, 61);
            text-decoration: underline;
        }

    }
    .address-info{
        margin-bottom: 30px;
    }
    .description{
        margin-bottom: 50px;
        p{
            display: flex;
            flex-wrap: wrap;
        }
    }


}

// Review Page

.review-page-cont{
    padding: 4em 10vw;
    h1{
        text-align: center;
        margin-bottom: 10px;
    }
    button{
        border-radius: 10px;
        background-color: black;
        font-weight: bold;
        color: white; 
        font-size: 15px;
        width: 120px;
        height: 50px;
        margin-bottom: 30px;
        margin-right: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .reviews-head{
        text-align: center;
        margin-bottom: 50px;
    }
    ul{
        margin-bottom: 20px;
        background-color: #F8F8F8;
        padding: 20px;
        border: black 2px solid;
        border-radius: 10px;
    }
}

.rev-page{
    background-color: #F8F2F9;
}
.review-image-container{
    display: flex;

}
.image{
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 100px;
}

//set appointment
.go{
    height: 89.5vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/Background-photo/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .set-appointment{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1{
            color: white;
            margin-bottom: 20px;
        }
        button{
            color: black;
            background-color: white;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            font-weight: bold;
            font-size: 20px;
            .arrow-right{
                margin-bottom: -3px;
                margin-left: 10px;
            }        
        }
        .button-go{
            transform: translateX(-20);
            animation: float 2.5s infinite;
            animation-name: go;
            @keyframes go{
                0%{
                    transform: translateX(-20%);
                }
                50%{
                    transform: translateX(10%);
                }
                100%{
                    transform: translateX(-20%);
                }
            }
            :hover{
                border-radius: 5px;
                color: black;
                background-color: #AACDE0;
                transition: color .5s, background-color .5s, border-radius .5s;
            }
        }
    
    }
    
}
.app{
    height: 89.5vh !important;
}

.form-cont{
    height: 90vh;
    margin: 0em 10vw;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    .head-info{
        text-align: center;
    }
    .ul{
        padding:20px;
    }    
    .form{
        background: #cfe3fc;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2em 10px 6px 10px;
        max-width: 700px;
        width: 700px;
        object-fit: contain;

        li{
            margin-bottom: 20px;
        }
        .org-name{
            border-bottom: 1px white solid;
            padding-bottom: 20px;

            .left-side{
                margin-bottom: 20px;
            }
        }        
        li:last-of-type{
            margin-bottom: 60px;
        }
        label{
            font-size: 20px;
            font-weight: bold;
        }

        button{
            display: flex;
            color: white;
            background: black;
            height: 35px;
            width: 100px;
            float: right;
            margin-top: -50px;
            margin-right: 10px;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            
        }
        .next-btn:hover{
            font-weight: bold;
            width: 101px;
            height: 36px;
            transition: width .4s, height .4s;
        }
        .prev-btn{
            background: none;
            border-radius: 0px;
            border-bottom:  3px solid white;
            color: black;
            font-weight: bold;
        }
        .prev-btn:hover{
            border-radius: 5px;
            // border: 3px solid white;
            background-color: white;
            font-weight: bold;
            width: 101px;
            height: 36px;
            transition: width .4s, height .4s, background-color .5s;    

        }


    }
}
.upholstery{
    .uphold{
        margin-bottom: 20px;
       div{
            margin-bottom: 10px;
        }
    }
    .description{
        textarea{
            resize: none;
            height: 170px;
            width: 200px;
        }
    }
    @media screen and (max-width: 510px) {
        .uphold{
            border-bottom: 1px rgb(34, 34, 34) solid !important;
        }
    }
}


