html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
}

* .cont-spacing {
  padding: 5em 5em;
}

* .margin-container {
  padding: 0 6em;
}

* img {
  width: 300px;
}

.nav-active {
  position: fixed !important;
  z-index: 1;
  -webkit-transition: ease-out;
  transition: ease-out;
}

.nav-spacer {
  width: 5px;
  border-radius: 10px;
  background: #FF67CB;
  margin-right: 20px;
  height: 46px;
  margin-top: 20px !important;
  margin-right: 15px !important;
}

.not-nav {
  display: none;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  width: 250px;
  height: 50px;
  background: #5794da;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 20px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slidein {
  from {
    bottom: -25px;
  }
  to {
    bottom: 20px;
  }
}

@keyframes slidein {
  from {
    bottom: -25px;
  }
  to {
    bottom: 20px;
  }
}

.fabric-alert {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 300px;
  color: white;
  height: 50px;
  background: #5794da;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: fabricAlert;
          animation-name: fabricAlert;
}

@-webkit-keyframes fabricAlert {
  0% {
    top: -50px;
  }
  50% {
    top: 80px;
  }
  70% {
    top: 80px;
  }
  100% {
    top: -50px;
  }
}

@keyframes fabricAlert {
  0% {
    top: -50px;
  }
  50% {
    top: 80px;
  }
  70% {
    top: 80px;
  }
  100% {
    top: -50px;
  }
}

.times {
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

.smooth-right {
  -webkit-animation-name: smooth-right;
          animation-name: smooth-right;
}

@-webkit-keyframes smooth-right {}

@keyframes smooth-right {}select {
  outline: none;
  background: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 6px 4px;
  width: 200px;
  min-width: 200px;
  outline: none;
  height: 30px !important;
  position: relative;
  border-radius: 2px;
}

select option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: black;
  outline: none;
}

select option :hover {
  color: yellowgreen;
}

select:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

select:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sort-down {
  position: absolute;
  margin-top: 5px;
  margin-left: -20px;
  pointer-events: none;
}

input {
  overflow: hidden;
  color: black;
  border: none;
  height: 25px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover, input[type="date"]:hover, input[type="number"]:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

input[type="text"]:focus {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

.see-our-work {
  margin-left: 20px;
  color: white;
  border-bottom: white 3px solid;
  width: 110px;
}

.see-our-work:hover {
  font-weight: bold;
  color: #c5c5c5;
  border-bottom: none;
}

.show {
  display: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.body-container {
  margin: 2em 5em;
}

.nav {
  width: 100%;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav .logo {
  margin-left: 5%;
  margin-top: 5px;
  position: absolute;
}

.nav .logo img {
  width: 170px;
}

.nav .right-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 10%;
}

.nav .right-nav ul :nth-child(3) button {
  margin-left: 5px;
  width: 90px !important;
  margin-right: 10px;
}

.nav .right-nav ul :nth-child(5) button {
  width: 120px !important;
}

.nav .right-nav ul li {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 30px;
}

.nav .right-nav ul li .btn-1 :hover {
  color: black;
  background: #AACDE0;
  border: white solid 4px;
  -webkit-transition: color 0.2s, background-color 0.5s;
  transition: color 0.2s, background-color 0.5s;
}

.nav .right-nav ul li .btn-2 {
  color: black;
}

.nav .right-nav ul li .btn-2 :hover {
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: font-weight 0.5s, font-size 0.5s;
  transition: font-weight 0.5s, font-size 0.5s;
  color: black;
}

.nav .right-nav ul li .get-started-btn {
  border-radius: 10px;
  background-color: black;
  font-weight: bold;
  color: white;
}

.nav .right-nav ul li .see-our-work {
  display: none;
}

.nav .right-nav ul li button {
  padding: 0;
  font-size: 15px;
  width: 90px;
  height: 50px;
  background: none;
  margin-top: -15px;
}

.nav .menu {
  display: none;
}

.nav .menu-x {
  display: none;
}

.address li {
  margin-bottom: 20px;
}

.address .address-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address .address-sep .city {
  margin-right: 100px;
  margin-bottom: 20px;
}

.address label {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.address input {
  height: 25px;
  width: 200px;
  margin-top: 3px;
  border-radius: 3px;
  border: #585858 1px solid;
}

.address input::-webkit-outer-spin-button,
.address input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.address input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/*media screen*/
@media screen and (max-width: 1024px) {
  .hero .hero-head h6 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-head h6 {
    font-size: 3em;
  }
}

@media screen and (min-width: 503px) and (max-width: 666px) {
  .tile-cont img {
    height: 30vw !important;
    width: 50vw !important;
  }
}

@media screen and (min-width: 667px) and (max-width: 764px) {
  .hero .hero-btn-cont {
    margin-left: -60px;
  }
}

@media screen and (max-width: 765px) {
  .hero-btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
  }
  .hero-btn-cont .see-our-work {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 !important;
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 667px) {
  .form-cont {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 743px) {
  .nav-spacer {
    display: none !important;
  }
  .right-nav {
    display: none;
  }
  .logo {
    margin-left: -80px !important;
  }
  .menu {
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    right: 20px;
    top: 35px;
  }
  .menu-x {
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .show-nav {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 45vw;
    height: 100vh;
    background-color: #AACDE0;
    position: fixed !important;
    right: 0;
    z-index: 20;
  }
  .show-nav ul {
    margin-top: 100px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .show-nav ul :nth-child(5) {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .show-nav ul :nth-child(5) :hover {
    color: white !important;
  }
  .show-nav ul li {
    width: 100%;
  }
  .show-nav ul li button {
    font-size: 15px;
    width: 120px;
    height: 50px;
    background: none;
    color: white;
    font-weight: bold;
  }
  .show-nav ul li .get-started-btn {
    background-color: black;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-top: 35px;
  }
  .show-nav ul li .see-our-work {
    margin-left: 0;
    display: initial !important;
  }
  .not-nav {
    display: block !important;
    position: fixed !important;
    top: 0;
    width: 55vw;
    height: 100vh;
    z-index: 1;
  }
}

@media screen and (max-width: 667px) {
  .form-cont {
    margin: 40px 15px !important;
  }
  .hero-btn-cont {
    display: block !important;
  }
  .rev-cont {
    width: 90vw !important;
  }
  .text-area {
    height: 110px !important;
  }
  #tile-3 {
    bottom: 80px !important;
  }
  #tile-3 .img-title {
    font-size: 25px !important;
  }
  #tile-3 .img-title span {
    font-size: 15px !important;
  }
  .hero {
    height: 100vh;
    display: inherit;
  }
  .hero .hero-left .hero-head {
    text-align: center;
    padding-top: 45%;
  }
  .hero .hero-left ul {
    padding: 0;
  }
  .hero .hero-left li {
    text-align: center;
  }
  .hero .hero-right img {
    display: none;
  }
  .cont-spacing {
    padding: 80px 20px;
  }
  .info-page {
    padding: 20px;
  }
  .info-page .info-page-container ul {
    padding: 0;
  }
  .info-page .info-page-container .tile-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info-page .info-page-container .tile-cont .tile-img {
    position: relative;
    width: 100%;
  }
  .info-page .info-page-container .tile-cont .tile-img img {
    height: 50vw;
    width: 70vw;
  }
  .info-page .info-page-container .tile-cont .tile-info {
    width: 100%;
  }
  .info-page .info-page-container #tile-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer {
    padding: 20px;
    font-size: 15px;
  }
  .footer .contact {
    margin-top: -20px;
  }
  .footer .left-foot .copyright-tag {
    margin-bottom: 25px;
  }
  .footer .left-foot .contact ul {
    padding: 0;
  }
  .footer .left-foot .contact ul li {
    font-size: smaller;
  }
  .footer .right-foot ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-left: -35px;
  }
  .footer .right-foot ul li {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .footer .right-foot ul li img {
    width: 20px;
  }
  .review-page-cont ul {
    text-align: center !important;
  }
}

@media screen and (max-width: 503px) {
  .thanks {
    margin-top: -20px;
    font-size: 3.5vh !important;
  }
  .dtd-carpets {
    width: 200px !important;
    height: 100px !important;
  }
}

@media screen and (max-width: 369px) {
  .hero-btn-cont {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

/*thank you*/
.dtd-carpets {
  position: absolute;
  width: 55vw;
  height: 30vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border: 10px solid #AACDE0;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dtd-carpets h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #2c2c2c;
  font-size: 2.5vw;
}

.dtd-carpets button {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 30px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  color: black;
}

/*Confirm*/
.confirm {
  width: 500px;
  height: 600px;
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
}

.confirm li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.confirm li span {
  font-weight: lighter;
}
/*# sourceMappingURL=App.css.map */