html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* .cont-spacing {
  padding: 5em 5em;
}

* .margin-container {
  padding: 0 6em;
}

* img {
  width: 300px;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
  width: 220px;
  height: 50px;
  background: #5794da;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 20px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slidein {
  from {
    bottom: -25px;
  }
  to {
    bottom: 20px;
  }
}

@keyframes slidein {
  from {
    bottom: -25px;
  }
  to {
    bottom: 20px;
  }
}

.fabric-alert {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 300px;
  color: white;
  height: 50px;
  background: #5794da;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: fabricAlert;
          animation-name: fabricAlert;
}

@-webkit-keyframes fabricAlert {
  0% {
    top: -50px;
  }
  50% {
    top: 80px;
  }
  70% {
    top: 80px;
  }
  100% {
    top: -50px;
  }
}

@keyframes fabricAlert {
  0% {
    top: -50px;
  }
  50% {
    top: 80px;
  }
  70% {
    top: 80px;
  }
  100% {
    top: -50px;
  }
}

.times {
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

select {
  overflow: hidden;
  color: black;
  height: 25px;
  width: 200px;
}

input {
  overflow: hidden;
  color: black;
  border: none;
  height: 25px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

.show {
  display: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.body-container {
  margin: 2em 5em;
}

.nav {
  width: 100%;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .logo {
  margin-left: 5%;
  margin-top: 5px;
  position: absolute;
}

.nav .logo img {
  width: 170px;
}

.nav .right-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 10%;
}

.nav .right-nav ul li {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 30px;
}

.nav .right-nav ul li .btn-1 :hover {
  color: black;
  background: #AACDE0;
  border: white solid 4px;
  -webkit-transition: color 0.2s, background-color 0.5s;
  transition: color 0.2s, background-color 0.5s;
}

.nav .right-nav ul li .btn-2 {
  color: black;
}

.nav .right-nav ul li .btn-2 :hover {
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: font-weight 0.5s, font-size 0.5s;
  transition: font-weight 0.5s, font-size 0.5s;
  color: black;
}

.nav .right-nav ul li .get-started-btn {
  border-radius: 10px;
  background-color: black;
  font-weight: bold;
  color: white;
}

.nav .right-nav ul li button {
  font-size: 15px;
  width: 120px;
  height: 50px;
  background: none;
  margin-top: -15px;
}

.nav .menu {
  display: none;
}

.nav .menu-x {
  display: none;
}

.hero {
  height: 89.5vh !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./images/Background-photo/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Background-photo/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10%;
}

.hero .hero-left {
  margin: auto 0;
}

.hero .hero-left ul li .see-our-work {
  margin-left: 20px;
  color: white;
  border-bottom: white 3px solid;
  width: 110px;
}

.hero .hero-left ul li .see-our-work:hover {
  font-weight: bold;
  color: #c5c5c5;
  border-bottom: none;
}

.hero .hero-left ul li .hero-head h6 {
  color: white;
  text-shadow: 2px 2px 8px #464646;
}

.hero .hero-left ul li a :hover {
  border: #AACDE0 5px solid;
  background-color: white;
  color: #4A4A4A;
  border-radius: 5px;
  -webkit-transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
  transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
}

.hero .hero-left ul li button {
  background-color: #AACDE0;
  font-size: 20px;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.hero .hero-right {
  margin: auto 0;
}

.hero .hero-right img {
  width: 90%;
  border-radius: 2em;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero .pointer-icon {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
  margin-left: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero .pointer-icon img {
  width: 40px;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*INFO-PAGE*/
.info-page {
  background-color: #AACDE0;
  min-height: 180vh;
  position: relative;
}

.info-page .info-page-header {
  font-size: 1.2em;
  text-align: center;
  color: #FF67CB;
  text-shadow: 2px 2px 8px #7c7c7c;
}

.info-page ul li {
  margin-top: 50px;
}

.info-page ul li .tile-cont {
  position: relative;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-page ul li .tile-cont .tile-img {
  width: 50%;
  position: relative;
  text-align: center;
}

.info-page ul li .tile-cont .tile-img img {
  width: 80%;
  height: 24vw;
  border-radius: 2em;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-page ul li .tile-cont .img-title {
  position: absolute;
  font-size: 2em;
  color: white;
  font-weight: bold;
  width: 50%;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: 2px 2px 8px #464646;
}

.info-page ul li .tile-cont .img-title span {
  font-weight: normal;
  font-size: 20px;
}

.info-page ul li .tile-cont .tile-info {
  text-shadow: 2px 2px 8px #b9b9b9;
  padding: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 50%;
  margin: auto auto;
}

.info-page ul li .tile-cont #tile-info2 {
  color: black;
}

/*ABOUT US*/
.about-us {
  background: #2F2D2D;
}

.about-us .about-us-h {
  color: white;
  text-align: center;
  margin: -30px auto 100px;
}

.about-us p {
  color: white;
  line-height: 2;
  margin-bottom: 20px;
}

/*FOOTER*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 40px 3em;
}

.footer .left-foot {
  margin-top: -10px;
}

.footer .left-foot .copyright-tag {
  margin-bottom: 5px;
  font-weight: bold;
}

.footer .contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .contact ul li {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer .contact ul li span {
  color: black;
}

.footer .right-foot {
  margin-top: -10px;
}

.footer .right-foot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .right-foot ul li {
  margin-left: 20px;
  width: 100%;
  cursor: pointer;
}

.footer .right-foot ul li .txt {
  color: black;
}

.footer .right-foot ul li img {
  width: 80%;
  max-width: 30px;
}

.address li {
  margin-bottom: 20px;
}

.address .address-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.address .address-sep .city {
  margin-right: 100px;
  margin-bottom: 20px;
}

.address label {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.address input {
  height: 25px;
  width: 200px;
  margin-top: 3px;
  border-radius: 3px;
  border: #585858 1px solid;
}

.address input::-webkit-outer-spin-button,
.address input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.address input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/*media screen*/
@media screen and (max-width: 1024px) {
  .hero .hero-head h6 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-head h6 {
    font-size: 3em;
  }
}

@media screen and (min-width: 503px) and (max-width: 666px) {
  .tile-cont img {
    height: 30vw !important;
    width: 50vw !important;
  }
}

@media screen and (max-width: 765px) {
  .hero-btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
  }
  .hero-btn-cont .see-our-work {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 !important;
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 667px) {
  .form-cont {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 667px) {
  .form-cont {
    margin: 40px 15px !important;
  }
  .hero-btn-cont {
    display: block !important;
  }
  .rev-cont {
    width: 90vw !important;
  }
  .text-area {
    height: 110px !important;
  }
  #tile-3 {
    bottom: 80px !important;
  }
  #tile-3 .img-title {
    font-size: 25px !important;
  }
  #tile-3 .img-title span {
    font-size: 15px !important;
  }
  .right-nav {
    display: none;
  }
  .logo {
    margin-left: -80px !important;
  }
  .menu {
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    right: 20px;
    top: 35px;
  }
  .menu-x {
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .show-nav {
    width: 45vw;
    height: 100vh;
    background-color: #AACDE0;
    position: fixed !important;
    right: 0;
    z-index: 20;
  }
  .show-nav ul {
    margin-top: 100px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .show-nav ul li {
    width: 100%;
  }
  .show-nav ul li button {
    font-size: 15px;
    width: 120px;
    height: 50px;
    background: none;
    color: white;
    font-weight: bold;
  }
  .show-nav ul li .get-started-btn {
    background-color: black;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin-top: 35px;
  }
  .hero {
    height: 100vh;
    display: inherit;
  }
  .hero .hero-left .hero-head {
    text-align: center;
    padding-top: 45%;
  }
  .hero .hero-left ul {
    padding: 0;
  }
  .hero .hero-left li {
    text-align: center;
  }
  .hero .hero-right img {
    display: none;
  }
  .cont-spacing {
    padding: 80px 20px;
  }
  .info-page {
    padding: 20px;
  }
  .info-page .info-page-container ul {
    padding: 0;
  }
  .info-page .info-page-container .tile-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .info-page .info-page-container .tile-cont .tile-img {
    position: relative;
    width: 100%;
  }
  .info-page .info-page-container .tile-cont .tile-img img {
    height: 50vw;
    width: 70vw;
  }
  .info-page .info-page-container .tile-cont .tile-info {
    width: 100%;
  }
  .info-page .info-page-container #tile-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer {
    padding: 20px;
    font-size: 15px;
  }
  .footer .contact {
    margin-top: -20px;
  }
  .footer .left-foot .copyright-tag {
    margin-bottom: 25px;
  }
  .footer .left-foot .contact ul {
    padding: 0;
  }
  .footer .left-foot .contact ul li {
    font-size: smaller;
  }
  .footer .right-foot ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-left: -35px;
  }
  .footer .right-foot ul li {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .footer .right-foot ul li img {
    width: 20px;
  }
  .review-page-cont ul {
    text-align: center !important;
  }
}

@media screen and (max-width: 503px) {
  .thanks {
    margin-top: -20px;
    font-size: 3.5vh !important;
  }
  .dtd-carpets {
    width: 200px !important;
    height: 100px !important;
  }
}

@media screen and (max-width: 369px) {
  .hero-btn-cont {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

/*thank you*/
.dtd-carpets {
  position: absolute;
  width: 55vw;
  height: 30vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  border: 10px solid #AACDE0;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dtd-carpets h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #2c2c2c;
  font-size: 2.5vw;
}

.dtd-carpets button {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 30px;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  color: black;
}

/*Confirm*/
.confirm {
  width: 500px;
  height: 600px;
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
}

.confirm li {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.confirm li span {
  font-weight: lighter;
}

.rev-container {
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 50px;
}

.rev-container form {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rev-container .btn-1 {
  margin-top: 20px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.rev-container .btn-1 :hover {
  color: #FF67CB !important;
}

.rev-container .reviews-head {
  text-align: center;
  margin-bottom: 20px;
}

.review-btn {
  position: absolute;
  color: white;
  background: black;
  height: 35px;
  width: 80px;
  bottom: 50px;
  right: 50px;
  border-radius: 5px;
}

.review {
  width: 50vw;
  height: 150px;
  resize: none;
}

.review-img-cont {
  height: 470px;
  width: 80vw;
}

.review-img-cont .rev-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 80vw;
  height: 75vh;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.rev-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px #6b6b6b solid;
  background: #f1f1f1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  width: 70vw;
}

.rev-cont input[type=text], .rev-cont [type=email] {
  border: black 1px solid;
}

.rev-cont select {
  height: 25px;
  width: 170px;
}

.rev-cont .add-images {
  font-weight: bold;
}

.rev-cont textarea {
  padding: 10px 20px;
}

.rev-cont li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3px;
}

span {
  color: white;
  cursor: pointer;
}

.fa-plus {
  margin-right: 10px;
  cursor: pointer;
}

.up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bod {
  height: 100vh;
}

.uphold {
  margin-right: 20px;
}

.peak-cont {
  position: relative;
}

.peak-cont .peak {
  position: absolute;
  margin-left: -20px;
  bottom: 5px;
}

.admin-page {
  padding: 6em 10vw;
}

.admin-page .admin-head {
  text-align: center;
}

.admin-page ul {
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  border: 2px solid black;
}

.admin-page ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  padding: 20px 30px;
}

.admin-page ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.admin-page ul li p {
  text-transform: capitalize;
  margin-top: 7px;
  padding-left: 5px;
}

.admin-page ul li .desc {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: lightgreen;
}

.customer {
  display: none;
}

.customer-cont {
  height: 100vh;
  padding: 6em 10vw;
}

.customer-cont button {
  border-radius: 10px;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 15px;
  width: 120px;
  height: 50px;
  margin-top: -15px;
  margin-right: 10px;
}

.customer-cont ul {
  margin-bottom: 20px;
}

.customer-cont ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.customer-cont ul li h1 {
  color: black;
}

.customer-cont ul li p {
  margin-top: 7px;
  padding-left: 5px;
}

.customer-cont ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3f3f3f;
}

.customer-cont .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-cont .header h2 {
  margin: 7px auto auto 10px;
  color: #3d3d3d;
  text-decoration: underline;
}

.customer-cont .date {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customer-cont .date h2 {
  margin: 7px auto auto 10px;
  color: #3d3d3d;
  text-decoration: underline;
}

.customer-cont .address-info {
  margin-bottom: 30px;
}

.customer-cont .description {
  margin-bottom: 50px;
}

.customer-cont .description p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review-page-cont {
  padding: 4em 10vw;
}

.review-page-cont h1 {
  text-align: center;
  margin-bottom: 10px;
}

.review-page-cont button {
  border-radius: 10px;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 15px;
  width: 120px;
  height: 50px;
  margin-bottom: 30px;
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.review-page-cont .reviews-head {
  text-align: center;
  margin-bottom: 50px;
}

.review-page-cont ul {
  margin-bottom: 20px;
  background-color: #F8F8F8;
  padding: 20px;
  border: black 2px solid;
  border-radius: 10px;
}

.rev-page {
  background-color: #F8F2F9;
}

.review-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  max-height: 100px;
}

.go {
  height: 89.5vh !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("./images/Background-photo/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Background-photo/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.go .set-appointment {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.go .set-appointment h1 {
  color: white;
  margin-bottom: 20px;
}

.go .set-appointment button {
  color: black;
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
}

.go .set-appointment button .arrow-right {
  margin-bottom: -3px;
  margin-left: 10px;
}

.go .set-appointment .button-go {
  -webkit-transform: translateX(-20);
          transform: translateX(-20);
  -webkit-animation: float 2.5s infinite;
          animation: float 2.5s infinite;
  -webkit-animation-name: go;
          animation-name: go;
}

@-webkit-keyframes go {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes go {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  50% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

.go .set-appointment .button-go :hover {
  border-radius: 5px;
  color: black;
  background-color: #AACDE0;
  -webkit-transition: color .5s, background-color .5s, border-radius .5s;
  transition: color .5s, background-color .5s, border-radius .5s;
}

.app {
  height: 89.5vh !important;
}

.form-cont {
  height: 90vh;
  margin: 0em 10vw;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-cont .head-info {
  text-align: center;
}

.form-cont .ul {
  padding: 20px;
}

.form-cont .form {
  background: #cfe3fc;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em 10px 6px 10px;
  max-width: 700px;
  width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}

.form-cont .form li {
  margin-bottom: 20px;
}

.form-cont .form .org-name {
  border-bottom: 1px white solid;
  padding-bottom: 20px;
}

.form-cont .form .org-name .left-side {
  margin-bottom: 20px;
}

.form-cont .form li:last-of-type {
  margin-bottom: 60px;
}

.form-cont .form label {
  font-size: 20px;
  font-weight: bold;
}

.form-cont .form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background: black;
  height: 35px;
  width: 100px;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
}

.form-cont .form .next-btn:hover {
  font-weight: bold;
  width: 101px;
  height: 36px;
  -webkit-transition: width .4s, height .4s;
  transition: width .4s, height .4s;
}

.form-cont .form .prev-btn {
  margin-right: 120px;
  background: none;
  border-radius: 0px;
  border-bottom: 3px solid white;
  color: black;
  font-weight: bold;
}

.form-cont .form .prev-btn:hover {
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  width: 101px;
  height: 36px;
  -webkit-transition: width .4s, height .4s, background-color .5s;
  transition: width .4s, height .4s, background-color .5s;
}

.upholstery .uphold {
  margin-bottom: 20px;
}

.upholstery .uphold div {
  margin-bottom: 10px;
}

.upholstery .description textarea {
  resize: none;
  height: 170px;
  width: 200px;
}

@media screen and (max-width: 510px) {
  .upholstery .uphold {
    border-bottom: 1px #222222 solid !important;
  }
}
/*# sourceMappingURL=App.css.map */