html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;   
     
    .cont-spacing{
        padding: 5em 20vw;
    }
    .cont-spacing-width{
        padding: 0 9vw;
    }
    img{
        width: 300px;
    }
    @media screen and (max-width: 743px) {
        .cont-spacing{
            padding: 5em 10px !important;
        }
        .cont-spacing-width{
            padding: 0 10px;
        }
    
    }
    max-width: 100vw;
}

//Loading
.loading-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.loading{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    .dots{
        width: 10px;
        height: 10px;
        max-width: 10px;
        max-height: 10px;
        background: black;
        opacity: .2;
        border-radius: 5px;
    }
}
.active{
    background: #FF67CB !important;
    opacity: 1 !important;
}
.emerald-alert{
    width: 70vw;
    min-width: 230px;
    max-width: 500px;
    height: 50vw;
    max-height: 200px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: popup;
    animation-duration: 1s;
    padding: auto 5px;
    @keyframes popup {
        from{
            top: 0;
        }
        to{
            top: 50%;
        }
    }
    .fa-times{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}
.get-started-float-tran{
    opacity: .5 !important;
}
.get-started-float{
    position: fixed;
    bottom: 5px;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    
    
    button{
        background: #cfe3fc;
        width: 100%;
        height: 40px;
        border-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
        font-size: 15px;
        border: 3px rgb(83, 83, 83) solid;
    }
}
@media screen and (min-width: 743px) {
    .get-started-float{
        display: none !important;
    }
}
.nav-active{
    background: white;
    position: fixed !important;
    z-index: 100;
    transition: ease-out;
}
.nav-spacer{
    width: 5px;
    border-radius: 10px;
    background: #FF67CB;
    margin-right: 20px;
    height: 46px;
    margin-top: 20px !important;
    margin-right: 15px !important;
}
.not-nav{
    display: none;
}
// inputs
input[type = "file"]{
    display: none;
}
input{
    border: none;
    outline: none;
    overflow: hidden;
    color: black;
    height: 25px;
    width: 50%;
    min-width: 210px;
    object-fit: contain;
    background: #f8f8f8;
    border-bottom: 2px solid rgb(141, 141, 141);

}
input[type ="text"]:hover, input[type ="email"]:hover, input[type = "date"]:hover, input[type = "number"]:hover{
    border-bottom: 2px solid #FF67CB;
    transition: border-bottom .6s;
}
input[type ="text"]:focus{
    border-bottom: 2px solid #FF67CB;
    transition: border-bottom .6s;
}
textarea{
    outline: none;
    border-radius: 5px;
}

.alert{
    display: flex;    
    border-radius: 2px;
    width: 250px;
    height: 50px;
    background: #5794da;
    color: white;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    //position
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation-name: slidein;
    animation-duration: .4s;
    animation-iteration-count: 1;
    @keyframes slidein {
        from{
            bottom: -25px;
        }
        to{
            bottom: 70px;
        }
    }
}
.fabric-alert{
    border-radius: 10px;
    display: flex;
    position: absolute;
    width: 400px;
    color: black;
    height: 70px;
    background: white;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    animation-duration: 5s;
    animation-name: fabricAlert;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h5{
        font-weight: normal;

    }
    @keyframes fabricAlert {
        0%{
            top: -50px;
        }
        50%{
            top: 300px;
        }
        70%{
            top: 300px;
        }
        100%{
            top: -50px;
        }

    }
}
.error{
    width: 200px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    h1{
        margin: 0 !important;
        text-align: center;
    }
    .error-btn{
        position: static;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0;
        background-color: white;
        color: #FF67CB;
        border: 3px solid #FF67CB;
    }
    .error-btn:hover{
        border-radius: 5px;
        color: white;
        background-color: #FF67CB;
        transition: background-color .3s, color .3s, border-radius .3s;
    }
}
.times{
    margin-left: 10px;
    cursor: pointer;
    color: black;
}
select{
    border: none;
    border-bottom: 2px solid #8d8d8d;
    outline: none;
    appearance: none;
    padding: 0px 4px;
    width: 200px;
    min-width: 200px;
    outline: none;
    height: 30px !important;
    position: relative;
    background: none;
    option{
        appearance: none;
        color: black;
        outline: none;
    }
}

.sort-down{
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
    pointer-events: none;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}
.see-our-work{
    color:white;
    border-bottom: white 3px solid;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.see-our-work:hover{
    font-weight: bold;
    color: rgb(197, 197, 197);
    border-bottom: none;
}

.show{
    display: none !important;
}
li{
    list-style-type: none;
}
button{
    border: none;
    cursor: pointer;
}
.body-container{
    margin: 2em 5em;
}

/*media screen*/

@media screen and (max-width: 1024px) {
    .hero {
      .hero-head{
          h6{
            font-size: 2em;
          }
      }
    }
}
@media screen and (min-width: 1024px) {
    .hero {
        .hero-head{
            h6{
            font-size: 3em;
            }
        }
    }
}
@media screen and (max-width: 376px) {
    .tile-text{
        font-size: 10px;
    }
    .review-stars-cont{
        h3{
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 667px){
    .form-cont{
       margin-top: 15px !important;
    }
}
@media screen and (max-width: 743px){
    .hero{
        .hero-left{
            width: 90vw;
            ul{
                li{
                    .hero-head{
                        width: 100% !important;
                    }
                }                
            }

        }
    }
    .nav-spacer{
        display: none !important;
    }
    .right-nav{
        display: none;
    }

    .menu{
        cursor: pointer;
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 35px;
    }
    .menu-x{
        cursor: pointer;
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 30px;
    }
    .show-nav{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 50vw;
        height: 100vh;
        background-color: #f5f5f5;
        position: fixed !important;
        transform: translateX(0);
        right: 0;
        z-index: 20;
        animation-name: slide-left;
        animation-duration: .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @keyframes slide-left {
            from{
                transform: translateX(100%);
            }
            to{
                transform: translateX(0);
            }
        }
        ul{
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            :nth-child(5){
                margin-top: 0px;
                margin-bottom: 20px;
                :hover{
                    color: white !important;
                }
            }
            li{
                width: 100%;
                button{
                    font-size: 15px;
                    width: 120px;
                    height: 50px;
                    background: none;
                    color: #2f2d2d;
                    font-weight: bold;
                }
                .get-started-btn{
                    background-color: black;
                    border-radius: 5px;
                    width: 120px;
                    height: 40px;
                    margin-top: 35px;
                    color: white;
                }
                .see-our-work{
                    border-bottom: #2f2d2d 2px solid;
                    color: #2f2d2d;
                    margin-left: 0;
                    display: initial !important;
                }
                
            }
        }
    }
    .not-nav{
        display: block !important;
        position: fixed !important;
        top: 0;
        width: 55vw;
        height: 100vh;
        z-index: 1;
    }


}
@media screen and (max-width: 667px){
    .form-cont{
        margin: 40px 15px !important;
    }

    .text-area{
        height: 110px !important;
    }


    // Hero
    .cont-spacing{
        padding: 80px 20px;
    }

    .footer{
        padding: 20px;
        font-size: 15px;
        .contact{
            margin-top: -20px;
        }
        .left-foot{
            .copyright-tag{
                margin-bottom: 25px;
            }
            .contact{
                ul{
                    padding: 0;
                    li{
                        font-size: smaller;
                    }
                }
            }
        }
        .right-foot{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 0;
                margin-left: -35px;
                li{
                    flex: 50%;
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    .review-page-cont{
        ul{
            text-align: center !important;
        }
    }
}

.delete-question-cont{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    top: 50%;  
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

    .delete-question{
        box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(131, 131, 131, 0.2);
        width: 300px;
        background: #f8f8f8;
        height: 150px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        ul{
            height: 30px;
            display: flex;

            width: 100%;
            gap: 10px;
            li{
                width: 100%;
            }
        }
        button{
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }
    }
}


//Miscellenious
span{
    color: white;
    cursor: pointer;
}
.fa-plus{
    margin-right: 10px;
    cursor: pointer;
}
.up{
    display: flex;
    flex-wrap: wrap;
}

.bod{
    height: 100vh;
}
.uphold{
    margin-right: 20px;
}


// Review Page



