html {
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;   
     
    .cont-spacing{
        padding: 5em 20vw;
    }
    .cont-spacing-width{
        padding: 0 9vw;
    }
    img{
        width: 300px;
    }
    @media screen and (max-width: 743px) {
        .cont-spacing{
            padding: 5em 10px !important;
        }
        .cont-spacing-width{
            padding: 0 10px;
        }
    
    }
    max-width: 100vw;
}

.emerald-alert{
    width: 70vw;
    min-width: 230px;
    max-width: 500px;
    height: 50vw;
    max-height: 200px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: popup;
    animation-duration: 1s;
    padding: auto 5px;
    @keyframes popup {
        from{
            top: 0;
        }
        to{
            top: 50%;
        }
    }
    .fa-times{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}
.get-started-float-tran{
    opacity: .5 !important;
}
.get-started-float{
    position: fixed;
    bottom: 5px;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    
    
    button{
        background: #cfe3fc;
        width: 100%;
        height: 40px;
        border-radius: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-weight: bold;
        font-size: 15px;
        border: 3px rgb(83, 83, 83) solid;
    }
}
@media screen and (min-width: 743px) {
    .get-started-float{
        display: none !important;
    }
}
.nav-active{
    background: white;
    position: fixed !important;
    z-index: 100;
    transition: ease-out;
}
.nav-spacer{
    width: 5px;
    border-radius: 10px;
    background: #FF67CB;
    margin-right: 20px;
    height: 46px;
    margin-top: 20px !important;
    margin-right: 15px !important;
}
.not-nav{
    display: none;
}
// inputs
input[type = "file"]{
    display: none;
}
input{
    border: white 2px solid;
    outline: none;
    overflow: hidden;

    color: black;
    border: none;
    height: 25px;
    width: 200px;
    object-fit: contain;
    border-radius: 3px;

}
input[type ="text"]:hover, input[type ="email"]:hover, textarea:hover, input[type = "date"]:hover, input[type = "number"]:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow .3s;
}
input[type ="text"]:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea{
    outline: none;
    border-radius: 5px;
}

.alert{
    display: flex;    
    border-radius: 2px;
    width: 250px;
    height: 50px;
    background: #5794da;
    color: white;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    //position
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation-name: slidein;
    animation-duration: .4s;
    animation-iteration-count: 1;
    @keyframes slidein {
        from{
            bottom: -25px;
        }
        to{
            bottom: 70px;
        }
    }
}
.fabric-alert{
    border-radius: 10px;
    display: flex;
    position: absolute;
    width: 400px;
    color: black;
    height: 70px;
    background: white;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    animation-duration: 5s;
    animation-name: fabricAlert;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h5{
        font-weight: normal;

    }
    @keyframes fabricAlert {
        0%{
            top: -50px;
        }
        50%{
            top: 300px;
        }
        70%{
            top: 300px;
        }
        100%{
            top: -50px;
        }

    }
}
.times{
    margin-left: 10px;
    cursor: pointer;
    color: black;
}
select{
    border: none;
    outline: none;
    background: white;
    appearance: none;
    padding: 6px 4px;
    width: 200px;
    min-width: 200px;
    outline: none;
    height: 30px !important;
    position: relative;
    border-radius: 2px;
    option{
        appearance: none;
        color: black;
        outline: none;
        :hover{
            color: yellowgreen;
        }
    }
}
select:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow .3s;
}
select:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sort-down{
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
    pointer-events: none;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    padding: 0;
}
.see-our-work{
    color:white;
    border-bottom: white 3px solid;
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.see-our-work:hover{
    font-weight: bold;
    color: rgb(197, 197, 197);
    border-bottom: none;
}

.show{
    display: none;
}
li{
    list-style-type: none;
}
button{
    border: none;
    cursor: pointer;
}
.body-container{
    margin: 2em 5em;
}

.nav{
    top: 0;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-color: white !important;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .logo{
        margin-left: -10px;
        margin-top: 5px;
        img{
            width: 170px;
        }
    }
    .right-nav ul{
        display: flex;
        justify-content: space-between;
        :nth-child(3){
            button{
                margin-left: 5px;
                width: 90px !important;
                margin-right: 10px;
            }
        }
        :nth-child(5){
            button{
                width: 120px !important;
            }
        }
        li{        
            margin-left: -5px;
            margin-top: 30px;

            .btn-1{
                :hover{
                    color: black;
                    background: #AACDE0;
                    border: white solid 4px;
                    transition: color 0.2s, background-color 0.5s,;

                }   
            }
            .btn-2{
                color: black;
                :hover{
                    font-weight: bold;
                    font-size: 15px;
                    transition: font-weight 0.5s, font-size 0.5s;
                    color: black;
                }
            }
            
            .get-started-btn{
                border-radius: 10px;
                background-color: black;
                font-weight: bold;
                color: white; 
                margin-right: 5px;
            }
            .see-our-work{
                display: none;
            }
            button{
                padding: 0;
                font-size: 15px;
                width: 90px;
                height: 50px;
                background: none;
                margin-top: -15px;
            }

        }  
    }
    .menu{
        display: none;
    }
    .menu-x{
        display: none;
    }
}

/*Hero*/
.hero{
    height: 85vh !important;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/Background-photo/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .hero-left{
        margin: auto 0;
        hr{
            margin: 80px 20% ;
            border: none;
            border-top: 2px solid white;
            border-radius: 10px;
        }
        ul{          
            li{
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;

                .hero-head{
                    text-align: center;
                    width: 50vw;
                    h6{
                        text-transform: uppercase;
                        color: white;
                        text-shadow: 2px 2px 8px rgb(70, 70, 70);
                    }
                }
                a{
                    :hover{
                        background-color: #AACDE0 ;
                        color: white;
                        border-radius: 5px;
                        transition: color 0.5s, background-color 0.5s, border-radius 0.5s;
                    }
                }
                button{
                    border: #AACDE0 5px solid;
                    background-color: white;
                    font-size: 20px;
                    width: 170px;
                    height: 50px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    color: black;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        }
    }
    .hero-right{
        margin: auto 0;
        display: none;
        justify-content: flex-end;
        align-items: flex-end;
        img{
            width: 90%;
            border-radius: 2em;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .pointer-icon{
        position: absolute;
        bottom: 0;
        overflow: hidden;
        transform: translateY(0px);
        animation: float 2s ease-in-out infinite;
        margin-left: -20px;
        left: 50%;
        transform: translateX(-50%);
        img{
            width: 40px;
        }
        @keyframes float{
            0%{
                transform: translateY(0px);
            }
            50%{
                transform: translateY(-30px);
            }
            100%{
                transform: translateY(0px);
            }
        }
    }
}
/*INFO-PAGE*/
.info-page{
    position: relative;
    background: #F5F5F5;
    padding: 100px 10px 190px 10px;

    .info-page-header{
        font-size: 1.2em;
        text-align: center;
        color: #FF67CB;
        text-shadow: 2px 2px 8px rgb(124, 124, 124);
    }
    .info-cont-ul{
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        li{
            max-width: 350px;
            #tile-1{
                height: 564px;
            }
            #tile-2{
                height: 610px;
            }
            #tile-3{
                height: 564px;
            }
            .tile-cont{
                margin-top: 60px;
                padding-bottom: 10px;
                background: white;
                display: flex;
                flex-direction: column;
                box-shadow: 0 4px 8px 1px rgba(196, 196, 196, 0.2), 0 6px 20px 0 rgba(196, 196, 196, 0.2);
                border-radius: 3px;
                ul{
                    position: relative;
                    height: 100%;
                    li:not(:nth-child(1)){
                        padding: 5px 10%;
                    }
                    li:nth-child(1){
                        .tile-img{
                            height: 233px;
                            img{
                                width: 100%;
                                object-fit: cover;
                                height: 100%;
                                border-top-left-radius: 3px;
                                border-top-right-radius: 3px;
                            }
                        }   
                        .img-title{
                            text-align: center;
                            width: 100%;
                            font-size: 40px;
                            font-weight: bold;
                            text-align: center;
                            line-height: 45px;
                        }
                    }
                    li:nth-child(2){
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        h5{
                            font-weight: normal;
                            font-size: 17px;
                        }
                        .pink{
                            border: none;
                            border-top: 2px solid #FF67CB;
                            width: 15%;
                        }
                        .based-on-cont{
                            ul{
                                li{
                                    display: flex;
                                    gap: 20px;
                                    .based-on{
                                        border: dashed 1px black;
                                        padding: 0 10px;
                                        font-size: 14px;
                                    }
                                }
                            }
                            margin-bottom: 10px;
                        }
                    }
                    li:nth-child(3){
                        hr{
                            border: none;
                            border-top: 3px solid #656565;   
                            border-radius: 2px; 
                        }
                    }
                    li:nth-child(4){
                        font-size: 80%;
                    }
                    li:nth-child(5){
                        position: absolute;
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        bottom: 0;
                        width: 100%;
                        :nth-child(2){
                            button{
                            background: #FF67CB;
                            color: white;
                            opacity: .8;
                                a{
                                    color: white;
                                }
                            }
                            button:hover{
                                opacity: 1;
                            }
                        }
                        div{
                            width: 100%;
                            button{
                                height: 36px;
                                background: white;
                                border: 1px solid #FF67CB;
                                color: #FF67CB;
                                font-weight: normal;
                                width: 100%;
                            }
                            button:hover{
                                color: white;
                                background-color: #FF67CB;
                            }

                        }
                    }



                }

            }
        }
    }
}

/*ABOUT US*/

.about-us{
    background: #2F2D2D;
    .about-us-h{
       color: white; 
       text-align: center;
       margin: -30px auto 100px;
    }
    p{
        color: white;
        line-height: 2;
        margin-bottom: 20px;
    }
}

/*Review*/
.rev-container{
    background-color: #f5f5f5;
    display: block;
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    form{
        margin: 100px 20px 170px 20px;
        text-align: center;
        width: 800px;
        hr{
            width: 10%;
        }
        h1{
            margin-bottom: 50px;
        }
        .rev-cont{
            background-color: white;
            padding: 25px 30px;
            height: 500px;
            hr{
                position: relative;
                width: 50%;
                border: none;
                border-top: 2px solid #FF67CB;
            }
            .transform-right{
                transform: translateX(100%);
            }
            .left-rev{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
                .review-stars-cont{
                    height: 20%;
                    .input{
                        font-size: 25px;
                        text-align: center;
                        margin-bottom: 10px;

                        hr{
                            width: 190px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-top: black 2px solid;
                        }
                    }
                }
                .review-rev-cont{
                    .input{
                        label{
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                    li{
                        position: relative;
                        textarea{
                            height: 220px;
                            max-width: 100%;
                            outline: none;
                            border: none;
                            background: #f5f5f5;
                            padding: 5px 10px;
                            margin-bottom: 10px;
                        }                        
                    }

                    .review{
                        width: 50vw;
                        height: 150px;
                        resize: none;
                    }
                    button{
                        width: 100%;
                        height: 50px;
                        font-size: 20px;
                        font-weight: bold;
                        color: white;
                        background: #FF67CB;
                        opacity: .8;
                    }
                    button:hover{
                        opacity: 1;
                    }
                    margin-bottom: 10px;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }
            }
            .right-rev{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 15px;
                width: 100%;
                li{
                    position: relative;
                    .add-images{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    hr{
                        border-top: black solid 2px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 110px;
                    }
                }

                .input{
                    text-align: left;
                    input{
                        width: 100%;
                        border: #f8c0e4 1px solid;
                    }
                    select{
                        width: 100%;
                        border: #f8c0e4 1px solid;
                    }
                }
                .image-container{
                    display: flex;
                    justify-content: space-around;
                    .image-list-cont{
                        width: 20%;
                        min-width: 110px;
                        ul{
                            li{
                                height: 100%;
                                display: grid;
                                grid-template-columns: 40% 3px 40%;
                                gap: 7px;
                                label{
                                    height: 100%;
                                    width: 100%;
                                    .plus{
                                        width: 100%;
                                        height: 100%;
                                        border: 1px solid black;
                                        border-radius: 2px;
                                    }
                                }
                                div{
                                    background-color: black;
                                    height: 70%;
                                    align-items: center;
                                    border-radius: 2px;
                                    position: relative;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                                img{
                                    background-color: #f1f1f1;
                                    width: 100%;
                                    min-height: 100%;
                                    max-height: 100%;
                                    border-radius: 3px;
                                }
                            }
                        }
                    }
                }
                ul{
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    margin-bottom: 10px;
                    li{
                        width: 100%;
                        button{
                            width: 100%;
                            height: 100%;
                            font-size: 20px;
                            font-weight: bold;
                            color: white;
                            background: #FF67CB;
                            opacity: .8;
                        }
                        button:hover{
                            opacity: 1;
                        }
                        .prev-btn{
                            background-color: white;
                            border: 2px solid #FF67CB;
                            color: #FF67CB;
                        }
                        .prev-btn:hover{
                            background-color: #FF67CB;
                            color: white;
                        }
                        button, .prev-btn{
                            transition: color .2s, background-color .2s, opacity .2s;
                        }
                    }
                }
            }
        }
    }
}


/*FOOTER*/
.footer-cont{
    .header{
        text-align: center;
        margin-top: 2rem;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        height: 200px;
        align-items: center;
        padding: 40px 3em;
        
        .left-foot{
            margin-top: -10px;
            .copyright-tag{
                font-weight: bold;
            }
            .contact{
                ul{
                    display: flex;
                    flex-wrap: wrap;            
                    li{
                        margin-right: 20px;
                        margin-bottom: 10px;
                        font-size: 15px;
                        span{
                            color: black;
                        }
                    }
                }
            }
        }

        .right-foot{
            margin-top: -10px;
            ul{
                display: flex;
                li{
                    margin-left: 20px;
                    width: 100%;
                    cursor: pointer;
                    .txt{
                        color: black;
                    }      
                    img{
                        width: 80%;
                        max-width: 30px;
                    }
                }
            }
        }
    }  
}

/*media screen*/

@media screen and (max-width: 1024px) {
    .hero {
      .hero-head{
          h6{
            font-size: 2em;
          }
      }
    }
}
@media screen and (min-width: 1024px) {
    .hero {
        .hero-head{
            h6{
            font-size: 3em;
            }
        }
    }
}
@media screen and (max-width: 376px) {
    .tile-text{
        font-size: 10px;
    }
    .review-stars-cont{
        h3{
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 667px){
    .form-cont{
       margin-top: 15px !important;
    }
}
@media screen and (max-width: 743px){
    .hero{
        .hero-left{
            width: 90vw;
            ul{
                li{
                    .hero-head{
                        width: 100% !important;
                    }
                }                
            }

        }
    }
    .nav-spacer{
        display: none !important;
    }
    .right-nav{
        display: none;
    }

    .menu{
        cursor: pointer;
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 35px;
    }
    .menu-x{
        cursor: pointer;
        display: flex !important;
        position: absolute;
        right: 20px;
        top: 30px;
    }
    .show-nav{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 50vw;
        height: 100vh;
        background-color: #f5f5f5;
        position: fixed !important;
        transform: translateX(0);
        right: 0;
        z-index: 20;
        animation-name: slide-left;
        animation-duration: .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @keyframes slide-left {
            from{
                transform: translateX(100%);
            }
            to{
                transform: translateX(0);
            }
        }
        ul{
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            :nth-child(5){
                margin-top: 0px;
                margin-bottom: 20px;
                :hover{
                    color: white !important;
                }
            }
            li{
                width: 100%;
                button{
                    font-size: 15px;
                    width: 120px;
                    height: 50px;
                    background: none;
                    color: #2f2d2d;
                    font-weight: bold;
                }
                .get-started-btn{
                    background-color: black;
                    border-radius: 5px;
                    width: 120px;
                    height: 40px;
                    margin-top: 35px;
                    color: white;
                }
                .see-our-work{
                    border-bottom: #2f2d2d 2px solid;
                    color: #2f2d2d;
                    margin-left: 0;
                    display: initial !important;
                }
                
            }
        }
    }
    .not-nav{
        display: block !important;
        position: fixed !important;
        top: 0;
        width: 55vw;
        height: 100vh;
        z-index: 1;
    }


}
@media screen and (max-width: 667px){
    .form-cont{
        margin: 40px 15px !important;
    }

    .text-area{
        height: 110px !important;
    }


    // Hero
    .cont-spacing{
        padding: 80px 20px;
    }

    .footer{
        padding: 20px;
        font-size: 15px;
        .contact{
            margin-top: -20px;
        }
        .left-foot{
            .copyright-tag{
                margin-bottom: 25px;
            }
            .contact{
                ul{
                    padding: 0;
                    li{
                        font-size: smaller;
                    }
                }
            }
        }
        .right-foot{
            ul{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 0;
                margin-left: -35px;
                li{
                    flex: 50%;
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
    .review-page-cont{
        ul{
            text-align: center !important;
        }
    }
}

/*thank you*/

.thank-you-cont{
    width: 100%;
    height: 100vh;
    padding: 0 20px;
}
.dtd-carpets{
    position: relative;
    padding: 0 20px !important;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 700px;
    min-height: 400px;
    max-height: 30vw;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    h1{
        color: rgb(44, 44, 44);
        font-size: 30px;
        hr{
            position: relative;
            margin: 0 auto;
            width: 50%;
        }
    }
    button{
        margin-top: 50px;
        width: 100px;
        height: 40px;
        border: 2px solid #FF67CB;
        background-color: white;
        border-radius: 1px;
        color: #FF67CB;
    }
    button:hover{
        background-color: #FF67CB;
        color: white;
    }
}
/*Confirm*/
.confirm{
    width: 500px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    
    li{
        list-style-type: none;
        font-size: 20px;
        font-weight: bold;

        span{
            font-weight: lighter;
        }
    }
}
/*Admin*/
.admin-page{
    padding: 6em 10vw ;
    .admin-head{
        text-align: center;
        margin-bottom: 50px;
    }
    ul{
        box-shadow: 0 4px 8px 0 rgba(131, 131, 131, 0.2), 0 6px 20px 0 rgba(131, 131, 131, 0.2);
        margin: 50px auto;
        max-width: 700px;
        cursor: pointer;
        margin-bottom: 20px;
        background-color: #f8f8f8;
        display: flex;
        flex-wrap: wrap;   
        border-radius: 10px;    
        li{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
            padding: 20px 30px;
            width: 100%;
            div:nth-child(1){
                text-align: center;
            }
            hr{
                border: none;
                border-top: 2px solid #FF67CB;
            }

            div{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
            p{
                text-transform: capitalize;
            }
            .desc{
                width: 200px;
                height: 200px;
                display: flex;
                flex-wrap: wrap;
                background-color: lightgreen;
            }
        }
    }
}
.customer{
    display: none;
}
.customer-cont{
    height: 100%;
    padding: 6em 10vw ;

    .button{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        gap: 20px;

        :nth-child(1){
            button{
                font-size: 20px;
                color: #FF67CB;
                background-color: white;
                border: 3px #FF67CB solid;
                transition: background-color .2s, color .2s;
            }
            button:hover{
                background-color: #FF67CB;
                color: white;
            }
        }

        li{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;

            button{
                font-size: 20px;
                width: 100%;
                background-color: #FF67CB;
                color: white;
                position: relative;
                opacity: .8;
                transition: opacity .2s;
            }
            button:hover{
                opacity: 1;
            }
        }
    }
    ul{
        margin-bottom: 20px;
        hr{
            border: none;
            border-top: #fda9e0 2px solid;
        }
        li{
            display: flex;
            margin-right: 20px;

            h1{
                color: black;
            }

            div{
                display: flex;
                flex-direction: column;
                color: rgb(29, 29, 29);
                h2{
                    font-size: 21px;
                }
            }            
        }

    }

    .date{
        margin-top: 50px;
        justify-content: center;
        display: flex;
        h2{
            margin: 7px auto auto 10px;
            color: rgb(61, 61, 61);
            text-decoration: underline;
        }

    }
    .address-info{
        margin-bottom: 30px;
    }
    .description{
        margin-bottom: 50px;
        p{
            display: flex;
            flex-wrap: wrap;
        }
    }


}


//Miscellenious
span{
    color: white;
    cursor: pointer;
}
.fa-plus{
    margin-right: 10px;
    cursor: pointer;
}
.up{
    display: flex;
    flex-wrap: wrap;
}

.bod{
    height: 100vh;
}
.uphold{
    margin-right: 20px;
}


// Review Page
@media screen and (min-width: 470px) {
    .review-btn{
        position: absolute;
        color: white;
        background: black;
        height: 35px;
        width: 80px;
        bottom: 50px;
        right: 50px;
        border-radius: 5px;
    }
}
.review-img-cont{
    height: 470px;
    width: 80vw;

    .rev-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 80vw;
        height: 75vh;
        object-fit: scale-down;
    }
}
.review-page-cont{
    padding: 4em 10vw;
    h1{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .rev-page{
        box-shadow: 0 4px 8px 0 rgba(131, 131, 131, 0.2), 0 6px 20px 0 rgba(131, 131, 131, 0.2);
        background-color: #f4f4f4;
        margin-bottom: 20px;
        background-color: #F8F8F8;
        padding: 20px;
        border-radius: 20px;
        max-width: 1000px;
        margin: 30px auto;
    }
    button{
        border-radius: 10px;
        background-color: black;
        font-weight: bold;
        color: white; 
        font-size: 15px;
        width: 120px;
        height: 50px;
        margin-bottom: 30px;
        margin-right: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.image{
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 100px !important;
    height: 100px;
}

/*UseForm*/
.go{
    height: 100vh !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/Background-photo/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    .set-appointment{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        h1{
            color: white;
            margin-bottom: 20px;
        }
        button{
            color: black;
            background-color: white;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            font-weight: bold;
            font-size: 20px;
            .arrow-right{
                margin-bottom: -3px;
                margin-left: 10px;
            }        
        }
        .button-go{
            transform: translateX(-20);
            animation: float 2.5s infinite;
            animation-name: go;
            @keyframes go{
                0%{
                    transform: translateX(-20%);
                }
                50%{
                    transform: translateX(10%);
                }
                100%{
                    transform: translateX(-20%);
                }
            }
            :hover{
                border-radius: 5px;
                color: black;
                background-color: #AACDE0;
                transition: color .5s, background-color .5s, border-radius .5s;
            }
        }
    
    }
    
}

.form-cont{
    margin: 0 10vw;
    justify-content: center;
    display: flex;
    .head-info{
        text-align: center;
        background: white;
        margin-right: -10.5px;
        margin-left: -10.5px;
        box-shadow: 0 4px 8px 0 rgba(116, 116, 116, 0.2), 0 6px 20px 0 rgba(116, 116, 116, 0.2);
        font-size: smaller;
        margin-bottom: 10px;
    }
    .ul{
        padding:20px;
    }    
    .form{
        margin-top: 80px;
        background: #cfe3fc;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 0 10px 0 10px;
        max-width: 700px;
        width: 700px;
        object-fit: contain;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;

        li{
            margin-bottom: 20px;
        }
        .org-name{
            border-bottom: 1px white solid;
            padding-bottom: 20px;

            .left-side{
                margin-bottom: 20px;
            }
        }        
        label{
            font-size: 20px;
            font-weight: bold;
        }


        .button-ul{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            gap: 15px;
            margin-bottom: 5px;

            li{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                button{
                    height: 100%;
                    background: black;
                    color: white;
                    font-size: 20PX;
                    opacity: .8;

                }
                button:hover{
                    font-weight: bold;
                    border: 3px solid black;
                    transition: font-weight .2s, opacity .2s, border .2s;
                    opacity: 1;
                }
                .prev-btn{
                    background: white;
                    color: black;
                }


            }
        }

    }
}
.upholstery{
    .uphold{
        margin-bottom: 20px;
       div{
            margin-bottom: 10px;
        }
    }
    .description{
        textarea{
            resize: none;
            height: 170px;
            width: 200px;
        }
    }
    @media screen and (max-width: 510px) {
        .uphold{
            border-bottom: 1px rgb(34, 34, 34) solid !important;
        }
    }
}
.address{
    
    li{
        margin-bottom: 20px;
    }
    .address-sep{
        display: flex;
        flex-wrap: wrap;
        .city{
            margin-right: 100px;
            margin-bottom: 20px;
        }
    }
    label{
        margin-bottom: 10px;
        font-weight: bold;
        color: white;
    } 
    input{
        height: 25px;
        width: 200px;
        margin-top: 3px;
        border-radius: 3px;
        border: #585858 1px solid;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
}    




